<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magcomm.applocker"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
         />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <!-- v1.0.0 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- v2.1.0 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 2.1.2 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--For iris control Yar add start-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--For iris control Yar add end-->
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <!-- Draw over other apps -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.FINGERPRINT_ENROLL" />
    <uses-permission android:name="android.permission.FINGERPRINT_VERIFY" /> 
    
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <!-- hejianfeng add start -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />
    <!-- hejianfeng add end -->
    <!-- 2303 -->
    <!-- Take pictures of intruder -->
    <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
    <!--  -->
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher_applocker"
        android:label="@string/application_name"
        android:allowClearUserData="false" 
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.magcomm.locker.ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/application_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.magcomm.locker.MainActivityAlias"
            android:enabled="true"
            android:label="@string/application_name"
            android:targetActivity="com.magcomm.locker.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service android:name="com.magcomm.locker.lock.AppLockService" />
        <service android:name="com.magcomm.locker.lock.LockService" />
        <service android:name="com.magcomm.locker.lock.HelperService" />

        <receiver android:name="com.magcomm.locker.receivers.BootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
